@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css");
.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold, .section-title p.subtext, .marquee-section h6, header .nav-item .nav-link {
  font-weight: 600;
}

.font-bold, .section-title h2, .hero-section h1 {
  font-weight: 700;
}

.font-black {
  color: #282828;
}

.background-black {
  background: #282828;
}

.font-white {
  color: #fff;
}

.background-white {
  background: #fff;
}

.font-red {
  color: #aa0607;
}

.background-red {
  background: #aa0607;
}

.font-gray {
  color: #828282;
}

.background-gray {
  background: #828282;
}

.font-darkprimary {
  color: #a70d1f;
}

.background-darkprimary {
  background: #a70d1f;
}

.font-primary {
  color: #D9273D;
}

.background-primary {
  background: #D9273D;
}

.font-lightprimary {
  color: #f84459;
}

.background-lightprimary {
  background: #f84459;
}

.font-secondary {
  color: #EB7533;
}

.background-secondary {
  background: #EB7533;
}

.font-lightsecondary {
  color: #f0945e;
}

.background-lightsecondary {
  background: #f0945e;
}

.font-darksecondary {
  color: #c44800;
}

.background-darksecondary {
  background: #c44800;
}

.font-thirdcolour {
  color: #39AEEE;
}

.background-thirdcolour {
  background: #39AEEE;
}

.font-lightthrdcolour {
  color: #66c2f3;
}

.background-lightthrdcolour {
  background: #66c2f3;
}

.font-darkbluecolour {
  color: #188fcf;
}

.background-darkbluecolour {
  background: #188fcf;
}

.font-lightgray {
  color: #e7eefa;
}

.background-lightgray {
  background: #e7eefa;
}

.font-lightgradient {
  color: linear-gradient(270deg, #E9DEFA 0%, rgba(251, 252, 219, 0.8) 100%);
}

.background-lightgradient {
  background: linear-gradient(270deg, #E9DEFA 0%, rgba(251, 252, 219, 0.8) 100%);
}

.font-darkblue {
  color: #000048;
}

.background-darkblue {
  background: #000048;
}

body {
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
body p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.custom-container {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 576px) and (max-width: 996px) {
  .custom-container {
    width: 90%;
  }
}

.default-btn, .orange-btn, .primary-btn, .border-btn {
  padding: 16px 26px !important;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.border-btn {
  border: 1px solid #282828;
}
.border-btn:hover {
  background: #282828;
  color: #fff !important;
  border: 1px solid transparent;
}

.primary-btn {
  background: #D9273D;
  color: #fff !important;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.primary-btn:hover {
  background: #a70d1f;
  color: #fff !important;
}

.orange-btn {
  background: #EB7533;
  color: #282828 !important;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.orange-btn:hover {
  background: #c44800;
  color: #282828 !important;
}

header .top-header {
  background: linear-gradient(270deg, #f3ae3d 0%, #d9273d 100%);
  color: #fff;
  padding: 0.5rem 0;
  font-size: 14px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header .top-header a {
  color: #fff;
}
header .header-social a {
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
header .header-social a .icomoon {
  font-size: 18px;
  color: #282828;
}
header .mainnav {
  position: relative;
}
header .mainnav .navbar-brand img {
  width: 200px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header .nav-item .nav-link:hover {
  color: #D9273D !important;
}

.fixed-top-nav .top-header {
  position: relative;
  top: -57px;
  padding: 0;
  height: 0;
}
.fixed-top-nav .mainnav {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
}
.fixed-top-nav .mainnav .navbar-brand img {
  width: 150px;
}

.hero-section {
  background: linear-gradient(70deg, rgba(205, 220, 255, 0.5019607843) 0%, rgba(255, 189, 191, 0.5019607843) 100%);
  height: 100vh;
  padding-top: 12%;
}
.hero-section h1 {
  font-size: clamp(2rem, 6.3vw, 6.3rem);
}
.hero-section h1 span {
  color: #39AEEE;
}
.hero-section article {
  padding-left: 40%;
}
.hero-section article p {
  font-size: clamp(1rem, 1.1vw, 1.1rem);
}

.hero-swiper {
  margin-top: 3rem;
}
.hero-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-right-swiper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;
}
.hero-right-swiper:before {
  content: "";
  position: absolute;
  bottom: 35px;
  right: 81px;
  background: #39AEEE;
  width: 98%;
  height: 98%;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 440px;
}
.hero-right-swiper swiper-slide {
  background-position: center;
  background-size: cover;
}
.hero-right-swiper .swiper-slide img {
  display: block;
  width: 90% !important;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
}

.marquee-section {
  padding: 3rem 0;
  position: relative;
  background: #fff;
}
.marquee-section .zoneicon01 {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.marquee-section h6 {
  font-size: clamp(1rem, 6.2vw, 6.2rem);
  position: relative;
  padding-left: 3rem;
  color: #39AEEE;
}
.marquee-section h6:before {
  content: "";
  position: absolute;
  top: 30%;
  left: -30px;
  width: 64px;
  height: 64px;
  background: url(../img/sparkles2.png);
}
.marquee-section .custom-marquee-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.marquee-section .custom-marquee {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: marquee-scroll 40s linear infinite;
}
.marquee-section .custom-marquee:hover {
  animation-play-state: paused;
}
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.section-title p.subtext {
  font-size: clamp(0.8rem, 1.1vw, 1.1rem);
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section-title h2 {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  text-transform: uppercase;
  color: #282828;
}

.zone-section .zone-col article {
  padding-right: 3rem;
}
.zone-section .zone-col article .age-label {
  padding: 5px 15px;
  background: #fff;
  color: #282828;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
}
.zone-section .zone-col article .desc {
  padding: 1.5rem 3.8rem 1.5rem 1.5rem;
  position: relative;
  color: #fff;
}
.zone-section .zone-col article .desc p {
  font-size: 15px;
}
.zone-section .zone-col article .desc .icomoon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #fff;
  color: #39AEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  bottom: 10px;
  border-radius: 100px;
}

.who-we-are-home-section {
  background: linear-gradient(70deg, #e3eeff 0%, #f3e7e9 50%);
  padding: 6rem 0;
}
.who-we-are-home-section .right-col {
  background: url(../img/whovr-bg.png) no-repeat center;
  background-size: cover;
}
.who-we-are-home-section .whovr01icon {
  width: 150px;
  top: 2%;
  right: 1%;
}
.who-we-are-home-section .whovr02icon {
  width: 150px;
  bottom: 2%;
  right: 1%;
}

.safety-section {
  background: #fff;
  padding-bottom: 6rem;
}
.safety-section .safety-col {
  position: relative;
}
.safety-section .safety-col .number {
  font-size: clamp(1.5rem, 6vw, 6rem);
  font-weight: 600;
  color: #f2f2f2;
  transform: rotate(-90deg);
  position: absolute;
  top: 25%;
  left: -20px;
  transform: translateY(-50%) rotate(-90deg);
}
.safety-section .safety-col figure {
  background: #fff;
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.safety-section .safety-col figure .icomoon {
  font-size: 41px;
  color: #282828;
}

.birthday-celebrations-section {
  background: #39aeee url(../img/celebrations-bg.png) no-repeat center top;
  padding: 12rem 0 6rem 0;
  position: relative !important;
}
.birthday-celebrations-section .birthday-rt-col {
  padding: 1rem 0;
}
.birthday-celebrations-section .birthday-rt-col figure {
  background: #EB7533;
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 2rem;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.birthday-celebrations-section .birthday-rt-col figure .icomoon {
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: #282828;
}

.pricing-section {
  padding: 6rem 0;
}
.pricing-section .price-col {
  background: url(../img/pricing-offer-bg.png) no-repeat center;
  background-size: cover;
  height: 342px;
  width: 100%;
  padding: 0 72px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pricing-section .price-col .left-price-col {
  border-right: 1px dashed #828282;
}
.pricing-section .price-col ul {
  list-style: none;
  padding: 25px 0 0 0;
  margin: 0;
}
.pricing-section .price-col ul li {
  font-size: 15px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
  border-left: 1px solid gray;
}

.home-testimonials {
  padding: 6rem 0;
  background-image: linear-gradient(140deg, rgba(57, 174, 238, 0.2509803922) 25%, rgba(217, 39, 61, 0.2509803922) 50%), url(../img/testimonials-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.home-testimonials .swiper-wrapper {
  padding: 1rem 0 3rem 0;
}
.home-testimonials .swiper-wrapper .swiper-slide {
  background: #fff;
  padding: 4rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left !important;
}
.home-testimonials .swiper-wrapper .swiper-slide .quote-icon {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 50px;
}
.home-testimonials .swiper-wrapper .swiper-slide .test-user .test-user-img {
  width: 70px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid #fff;
}
.home-testimonials .swiper-wrapper .swiper-slide .test-user .test-name {
  font-size: 20.8px;
  font-weight: 600;
  color: #282828;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-pagination-bullet {
  border-radius: 0;
  background: #fff;
  opacity: 1;
  width: 30px;
  height: 3px;
}
.swiper-container .swiper-pagination-bullet-active {
  background: #EB7533;
}

.reachus-home {
  padding: 6rem 0;
  position: relative;
}
.reachus-home .reachicon01 {
  width: 199px;
  position: absolute;
  top: 5%;
  right: 2%;
}
.reachus-home .reachicon02 {
  width: 199px;
  position: absolute;
  bottom: 5%;
  left: 2%;
}

footer {
  background: #282828;
  padding: 82px 0 40px 0;
  color: #fff;
}
footer .header-social a {
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
footer .header-social a .icomoon {
  font-size: 18px;
  color: #282828;
}
footer .footer-links ul {
  list-style: none;
  padding: 20px 0 0 0;
  margin: 0;
}
footer .footer-links ul li {
  padding: 5px 0;
}
footer .footer-links ul li a {
  color: #fff;
  font-size: 15px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
footer .footer-links ul li a:hover {
  color: #EB7533;
}/*# sourceMappingURL=style.css.map */