@import "mixins";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css");

body {
  @include siteMain;
  p {
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.custom-container {
  width: 85%;
  margin: 0 auto;

  @include minMax(map-get($breakpoints, "sm"), map-get($breakpoints, "lg")) {
    width: 90%;
  }
}

.default-btn {
  padding: 16px 26px !important;
  @include transition(all, 0.3s, ease);
}
.border-btn {
  @extend .default-btn;
  border: 1px solid map-get($colors, black);
  &:hover {
    background: map-get($colors, black);
    color: map-get($colors, white) !important;
    border: 1px solid transparent;
  }
}
.primary-btn {
  @extend .default-btn;
  background: map-get($colors, primary);
  color: map-get($colors, white) !important;
  @include transition(all, 0.3s, ease);

  &:hover {
    background: map-get($colors, darkprimary);
    color: map-get($colors, white) !important;
  }
}

.orange-btn {
  @extend .default-btn;
  background: map-get($colors, secondary);
  color: map-get($colors, black) !important;
  @include transition(all, 0.3s, ease);

  &:hover {
    background: map-get($colors, darksecondary);
    color: map-get($colors, black) !important;
  }
}



header {
  .top-header {
    @include linear-gradient(270deg, #f3ae3d 0%, #d9273d 100%);
    color: map-get($colors, white);
    padding: 0.5rem 0;
    font-size: $fsize - 2px;
    @include transition(all, 0.3s, ease);

    a {
      color: map-get($colors, white);
    }
  }
  .header-social {
    a {
      background: map-get($colors, white);
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      .icomoon {
        font-size: $fsize + 2px;
        color: map-get($colors, black);
      }
    }
  }
  .mainnav {
    position:relative;
    .navbar-brand {
      img {
        width: 200px;
        @include transition(all, 0.3s, ease);
      }
    }
  }
  .nav-item {
    .nav-link {
      @extend .font-semibold;

      &:hover {
        color: map-get($colors, primary) !important;
      }
    }
  }
}

.fixed-top-nav {
   .top-header {
    position: relative;
    top: -57px;
    padding:0;
    height: 0;;
  }
  .mainnav {
    background: map-get($colors, white);
    @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.1));   
    padding:0.5rem 0; 
    .navbar-brand {
      img {
        width: 150px;        
      }
    }
  }
}

.hero-section {
  @include linear-gradient(
    70deg,
    #cddcff80 0%,
    #ffbdbf80 100%
  );
  height: 100vh;
  padding-top: 12%;

  h1 {
    font-size: clamp(2rem, 6.3vw, 6.3rem);
    @extend .font-bold;

    span {
      color: map-get($colors, thirdcolour);
    }
  }
  article {
    padding-left: 40%;

    p {
      font-size: clamp(1rem, 1.1vw, 1.1rem);
    }
  }
}

.hero-swiper {
  margin-top: 3rem;
  // overflow: hidden;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-right-swiper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;

  &:before {
    content: "";
    position: absolute;
    bottom: 35px;
    right: 81px;
    background: map-get($colors, thirdcolour);
    width: 98%;
    height: 98%;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 440px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 90% !important;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
  }
}

.marquee-section {
  padding: 3rem 0;
  //   @include linear-gradient(
  //   70deg,
  //   #e9defa10 0%,
  //   #fbfcdb10 100%
  // );
  position: relative;
  background:map-get($colors, white);

  .zoneicon01{
    position: absolute;
    bottom:5%;
    left: 5%;
  }

  h6 {
    font-size: clamp(1rem, 6.2vw, 6.2rem);
    @extend .font-semibold;
    position: relative;
    padding-left: 3rem;
    color: map-get($colors, thirdcolour);

    &:before {
      content: "";
      position: absolute;
      top: 30%;
      left: -30px;
      width: 64px;
      height: 64px;
      background: url(../img/sparkles2.png);
    }
  }
  // Custom Marquee Styles
  .custom-marquee-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .custom-marquee {
    display: flex;
    width: max-content;
    animation: marquee-scroll 40s linear infinite;
  }
  .custom-marquee:hover {
    animation-play-state: paused;
  }
  @keyframes marquee-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

.section-title{  
  p.subtext{
    font-size:clamp(0.8rem, 1.1vw, 1.1rem);   
    letter-spacing: 3px;
    @extend .font-semibold;
    text-transform: uppercase;
  }
  h2{
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    @extend .font-bold;
    text-transform: uppercase;
    color:map-get($colors, black);    
  }
}

.zone-section{
  .zone-col{
    article{
      padding-right:3rem;
      .age-label{
        padding:5px 15px;
        background:map-get($colors, white);
        color:map-get($colors, black);
        border-radius:25px;
        font-size:$fsize - 2px;
        font-weight: map-get($font-weights, semibold);
      }
      .desc{
        padding:1.5rem 3.8rem 1.5rem 1.5rem;
        position:relative;
        color:map-get($colors, white);

        p{
          font-size:$fsize - 1px;
        }

        .icomoon{
          width:40px;
          height: 40px;
          display: inline-block;
          background: map-get($colors, white);
          color: map-get($colors, thirdcolour);
          display: flex;
          align-items: center;
          justify-content: center;
          right:10px;
          bottom:10px;
          border-radius:100px;
        }
      }
    }
  }
}

.who-we-are-home-section{
   @include linear-gradient(
    70deg,
    #E3EEFF 0%,
    #F3E7E9 50%,    
  );
  padding:6rem 0;

  .right-col{
    background:url(../img/whovr-bg.png)no-repeat center;
    background-size: cover;
  }

  .whovr01icon{
    width:150px;
    top:2%;
    right:1%;
  }
  .whovr02icon{
    width:150px;
    bottom:2%;
    right:1%;
    
  }
}

.safety-section{
  background:map-get($colors, white);
  padding-bottom:6rem;

  .safety-col{
    position:relative;
    .number{
      font-size:clamp(1.5rem, 6vw, 6rem);
      font-weight: map-get($font-weights, semibold);
      color:#F2F2F2;
      transform: rotate(-90deg);
      position: absolute;
      top: 25%;
      left: -20px;
      transform: translateY(-50%) rotate(-90deg);
    }
    figure{
      background:map-get($colors, white);
      width:86px;
      height:86px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin:0;
      margin-bottom:2rem;
      @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.1));
      .icomoon{
        font-size: $fsize + 25px;
        color: map-get($colors, black);
    }
  }
}
}

.birthday-celebrations-section {
  background: #39AEEE url(../img/celebrations-bg.png) no-repeat center top;
  padding: 12rem 0 6rem 0;
  position: relative!important;

  .birthday-rt-col{
    padding:1rem 0; 

    figure{
      background:map-get($colors, secondary);
      width:67px;
      height:67px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;      
      margin-bottom:2rem;
      padding:0;
      @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.1));
      .icomoon{
        font-size:clamp(1.5rem, 2vw, 2rem);
        color:map-get($colors, black);
      }
    }
  }
}
